body {
  background-color: rgb(229, 229, 229);
  font-family: 'AgencyFB', sans-serif;
  font-size: 10px;
  height: 100%;
  width: 100%;
}

.main {
  justify-content: center;
  display: flex;
  
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 2rem;
  display: flex;
  height: 12rem;
  width: 12rem;
  margin: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 2rem;

  border: solid 1px black;
  border-radius: 1rem;
}

.button_container {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 2rem;
  display: flex;
  height: 12rem;
  width: 12rem;
  margin: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 2rem;

  /* border: solid 1px black;
  border-radius: 1rem; */
}

.show100  {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 2rem;
  display: flex;
  height: 12rem;
  width: 12rem;
  margin: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 2rem;

  /* border: solid 1px black;
  border-radius: 1rem; */
}

