body {
    color:antiquewhite
}

.lets_go {
    color: black;
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 25px rgb(139, 60, 60), 0 0 25px rgb(139, 60, 60), 0 0 25px rgb(139, 60, 60), 0 0 25px rgb(139, 60, 60);
    font-size: 4rem;
}

.home_container {
    margin-top: 3rem;
    margin-left: 1rem;
    justify-content: center; 
}

.home {
    text-decoration: none;
    color:goldenrod;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
}

.form {
    
    
    flex-direction: column;

}
.input {
    width: 20rem;
    height: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    list-style: none;
    outline: none;
    border: none;

}

.error {
    color: red;
}

.released_container {
    margin-left: 1rem;
    justify-content: center;
    
}
.released {
    margin-left: -1rem;
    
}

.released_input {
    width: 8rem;
    height: 2rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;  
}

.rating {
    margin-left: 1.2rem;
}

.rating_input {
    width: 3.7rem;
    height: 1.8rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    color: black;
}

.genres_container {
    margin-top: 1rem;
    margin-left: 1rem;
    justify-content: center;
}

.genres {
    margin-left: -1rem;
}

.genres_input {
    width: 17rem;
    height: 2rem;
    border-radius: 0.5rem;
}

.platforms_container {
    margin-top: 1rem;
    margin-left: 1rem;
    justify-content: center;
}

.platforms {
    margin-left: -1rem;
}

.platforms_input {
    width: 16rem;
    height: 2rem;
    border-radius: 0.5rem;
    color: black;
}

.create {
    margin-top: 2rem;
    justify-content: center;
    width: 7rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    outline: none;
    border: 3px solid;
    border-color: rgb(139, 60, 60);
    background-color: rgb(139, 60, 60);
    color: goldenrod;
    font-weight: bold;
    cursor: pointer;
}

.create:hover {
    background-color: goldenrod;
    color: rgb(139, 60, 60);
    border-color: goldenrod;
    
}

.x_genre_container {
    margin-top: 2rem;
    margin-left: 30rem;
    justify-content: center;
    width: 20rem;
}

.x_genre {
    margin-right: 1rem;
  
}

.x_genre_buttom {
    border-radius: 0.3rem;
    color: red;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.x_platform_container{
    margin-top: 2rem;
    margin-left: 30rem;
    justify-content: center;
    width: 20rem;
}

.x_platform {
    margin-right: 1rem;
}

.x_platform_buttom {
    border-radius: 0.3rem;
    color: red;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
